.budgetcard {
    margin: 30px 0px;
    border: none! important;
}

.categorycard {
    margin: 30px 0px;
    border: none! important;
}

.tabblewrapper, .tabbleheaderwrapper,
.categorylistgroupitem,
.menulist {
    border: none! important;
}

.menuaside {
    height: 100%;
    border-right: 1px solid black;
}

.addbutton,
.updatebutton {
    width: 100%
}

.deletemodalbutton,
.categorylistcard {
    width: 50%;
}

.expensedetailrow {
    border: 1px solid #c1bdbd;
}